.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.logo {
  color: #eeeeee;
  text-decoration: none;
}

.search {
  width: 248px;
  min-height: 70px;
  padding: 20px 35px;

  background: #333348;
  border: none;
  border-radius: 40px;
}
